<%- include("partials/header") -%>

<h1>Contact</h1>
<h2>Email:</h2>
<p><%= content.email %></p>
<h2>Phone: </h2>
<p><%= content.phone %></p>
<h2>College: </h2>
<p><%= content.college %></p>
<%- include("partials/footer") -%>
